# Ignora la cartella hl2ssPythonClient
hl2ssPythonClient/

# Ignora i file e le cartelle specifiche di Unity per il progetto UnityIGTConnector
UnityIGTConnector/[Ll]ibrary/
UnityIGTConnector/[Tt]emp/
UnityIGTConnector/[Oo]bj/
UnityIGTConnector/[Bb]uild/
UnityIGTConnector/[Bb]uilds/
UnityIGTConnector/[Ll]ogs/
UnityIGTConnector/[Uu]ser[Ss]ettings/
UnityIGTConnector/[Mm]emoryCaptures/
UnityIGTConnector/[Rr]ecordings/
UnityIGTConnector/[Aa]ssets/Plugins/Editor/JetBrains*
UnityIGTConnector/.vs/
UnityIGTConnector/.gradle/
UnityIGTConnector/ExportedObj/
UnityIGTConnector/.consulo/
UnityIGTConnector/*.csproj
UnityIGTConnector/*.unityproj
UnityIGTConnector/*.sln
UnityIGTConnector/*.suo
UnityIGTConnector/*.tmp
UnityIGTConnector/*.user
UnityIGTConnector/*.userprefs
UnityIGTConnector/*.pidb
UnityIGTConnector/*.booproj
UnityIGTConnector/*.svd
UnityIGTConnector/*.pdb
UnityIGTConnector/*.mdb
UnityIGTConnector/*.opendb
UnityIGTConnector/*.VC.db
UnityIGTConnector/*.pidb.meta
UnityIGTConnector/*.pdb.meta
UnityIGTConnector/*.mdb.meta
UnityIGTConnector/sysinfo.txt
UnityIGTConnector/*.apk
UnityIGTConnector/*.aab
UnityIGTConnector/*.unitypackage
UnityIGTConnector/*.app
UnityIGTConnector/crashlytics-build.properties
UnityIGTConnector/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
UnityIGTConnector/[Aa]ssets/[Ss]treamingAssets/aa.meta
UnityIGTConnector/[Aa]ssets/[Ss]treamingAssets/aa/*
